
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col1">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                                 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                          <div class="col">
                              <div class="field"> 
                          </div>   
                          </div>
                        </div>
                        <div class="row">
                        <div class="col">
                          <div class="col-12 col-sm-6 mb-3">
                        <div class="row">
                        <div class="field">
                            
                        </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                              <div class="field">
                              
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
<%= form_with(model: post) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
   <%= form.label :adress, style: "display: block"%>
   <%= form.text_field :adress, required: true%>
  </div>

<div>
  <%= form.label :price, style: "display: block" %>
  <%= form.number_field :price, required: true, min: 0 %>
</div>

  <div class="field">
  <%= form.label :country_id %>
  <%= select_tag :country, options_for_select(Country.all.map{ |co| [co.name, co.id] }, params[:country]), prompt: 'Select Country', class: 'form-control', id: "country" %>
</div>

<div class="field">
  <%= form.label :city_id %>
  <%= select_tag :city_id, options_for_select([], params[:city]), prompt: 'Select City', class: 'form-control', id: "city" %>
  <%= form.hidden_field :city_id, id: "hidden_city_id" %>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // On country dropdown change
    $('#city').change(function() {
      // Set the hidden city_id field to the selected city
      $('#hidden_city_id').val($(this).val());
    });
    $('#country').change(function() {
      var country_id = $(this).val();
      // Send an AJAX request to get the cities for the selected country
      $.ajax({
        url: '/cities',
        data: { country_id: country_id },
        success: function(cities) {
          // Replace the city dropdown options with the new cities
          var options = '<option value="">Select City</option>';
          for (var i = 0; i < cities.length; i++) {
            options += '<option value="' + cities[i].id + '">' + cities[i].name + '</option>';
          }
          $('#city').html(options);
        }
      });
    });
  });
</script>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body %>
  </div>
  
  <br>
   <div>
    <%= form.label :published_at, style: "display: block" %>
    <%= form.datetime_field :published_at %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.map { |c| [c.name, c.id] }, {}, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
