<div id="<%= dom_id post %>">
<% city = City.find(post.city_id) %>
<% country = Country.find(city.country_id) %>
<% category = Category.find(post.category_id) %>
<% price = post.price %>

<div class="job-left my-4 d-md-flex align-items-center flex-wrap">
<div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
<%= image_tag post.images.first, style: "width: 250px; height: 100%; border-radius: 20px; margin-right: 10px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" %>
</div>
<div class="job-content">
    <h5 class="text-center text-md-left">
    <%= post.title %>
    </h5>
      <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
          <li class="mr-md-4">
            <i class="zmdi zmdi-pin mr-2"></i><%= country.name %>
              </li>
            <li class="mr-md-4">
            <i class="zmdi zmdi-pin mr-2"></i> <%= city.name %>
            </li>
            <li class="mr-md-4">
            <i class="bi bi-currency-euro"></i> <%= price %>
            </li>
            <li class="mr-md-4">
                <i class="bi bi-house-door-fill"></i><%= category.name %>
            </li>
            </ul>
            </div>
        </div>
      <div class="job-right my-4 flex-shrink-0">
        <%= link_to 'More info', post, class: 'btn d-block w-100 d-sm-inline-block btn-light' %>
    </div>
</div>
