
<div id="<%= dom_id @post %>">
<% city = City.find(@post.city_id) %>
<% country = Country.find(city.country_id) %>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">     
      <p>
           <h6>Rental Host: <%= @post.user.name %></h6>
          <h2><strong><%= @post.title %></strong></h2>
      </p>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-md-8">
      <%= image_tag @post.images.first, style:"width: 780px; height: 550px; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px" %>
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>
          <p>
            <%= @post.body %>
           </p>

        </p>
        <h3 class="my-3">Location</h3>
        <p>
          <strong>Country:</strong>
          <%= country.name %>
        <br>
          <strong>City:</strong>
          <%= city.name %>
        <br>
            <strong> Adress </strong>
            <%= @post.adress %>
        </p>
        <h3 class="my-3">Price per night:</h3>
          <h6><%= @post.price %>€</h6>
        <hr>
        <% if current_user %>
        <% if @post.user == current_user || current_user.admin == true %>
        <div>
          <%= link_to "Edit this post", edit_post_path(@post) %> |
          <%= link_to "Back to posts", posts_path %>
          <%= button_to "Destroy this post", @post, method: :delete %>
        </div>
      <% else %>
          <%= form_for(Reservation.new) do |form| %>
      <h4>Reserve this rental</h4>
      <div class="form-group">
        <%= form.label :from %>
        <%= form.date_field :from, class: "form-control", value: "" %>
      </div>
      <div class="form-group">
        <%= form.label :to %>
        <%= form.date_field :to, class: "form-control" %>
      </div>
      <%= form.hidden_field :post_id, value: @post.id %>
      <br>
      <%= form.submit "Book this rental", class: "btn btn-primary" %>
    <% end %>
    <% end %>
    <% end %>
      </div>
    </div>
    <% if @post.images.count > 1 %>
    <h3 class="my-4">More pictures</h3>
    <div class="row" >
    <section class="gallery min-vh-100">
     <div class="container-lg">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-4">
            <% @post.images.each do |pictures| %>
              <div class="col">
                 <%= image_tag pictures, style: "width: 300px; height: 200px, box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px"%>
            </div>
          <% end %>
      </div>
  </div>
</p>
<% else %>
<br>
<% end %>
      <hr>
      <h3 class="my-4">Location</h3>
      <iframe width="100%"height="500"  style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px"   src="https://maps.google.com/maps?q=<%=@post.adress%>&output=embed"></iframe>
<br>
</section>

  
<script src="bootstrap.bundle.min.js"></script>
<script src="main.js"></script>
  
    <h3>Comments</h3>
    <%= render 'comments/form', post: @post, comment: Comment.new %>
  <%= render @post.comments %>
